<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.epi_event">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EpiEvent">
        <activity
            android:name=".ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".authentication_login_signup.ChangePasswordActivity"
            android:exported="false" />
        <activity
            android:name=".EventDetail"
            android:exported="false" />
        <activity
            android:name=".create_event.CreateEventActivity"
            android:exported="false" />
        <activity
            android:name=".authentication_login_signup.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".test_modules.TestShowAllEvents"
            android:exported="false" />
        <activity
            android:name=".authentication_login_signup.SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".test_modules.TestDatabase"
            android:exported="false" /> <!-- <activity -->
        <!-- android:name=".Login" -->
        <!-- android:exported="false" /> -->

        <activity
            android:name=".qrcode.QrCodeGenerater"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>